*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: 'yasin-2';
    src: url('./Shabnam-Light.eot') format('eot') , url('./Shabnam-Light.woff') format('woff') ,
     url('./Shabnam-Light.woff2') format('woff2');
}

body{
    font-family: 'yasin-2';
    background-color: rgb(255, 255, 255);

}

.container{
    background-image: linear-gradient(to left , orange , rgb(207, 194, 150) ) , url('./Untitled.png');
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: 130vh repeat(5 , 1fr);
}

.log{
    grid-column: 2/4;
    background-color:rgb(24, 22, 22) ;
    width: 400px;
    height: 600px;
    justify-self: center;
    align-self: center;
    border-radius: 20px;
    border: 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
}

.text{
    color: #fff;
    grid-column: 1/5;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    font-size: 27px;
    font-family: 'yasin-2';
    margin-top: 12px    ;
}

.orang{
    color: orange;
}

.label1{
    grid-column: 1/5;
    grid-row: 2/3;
    color:white;
    justify-self: center;
    margin-top: 32px;
    font-size: 12px;
    margin-left: -116px

 }

 .email{
    grid-column: 1/5;
    grid-row: 2/3;
    /* justify-self: center;
    align-self: center; */
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(207, 194, 150);
    background-color: rgb(24, 22, 22);
    width: 200px;
    height: 30px;
    color: #fff;
    margin-top: 63px;
    margin-left: 99px;
}
    

.fa{
    color: #fff;
    grid-row: 2/3;
    margin-left: -299px;
    margin-top: 29px

}

.label2{
    grid-column: 1/5;
    grid-row: 2/4;
    color:white;
    justify-self: center;
    margin-top: 121px;
    font-size: 12px;
    margin-left: -116px

}

.pass{
    grid-column: 1/5;
    grid-row: 2/4;
    justify-self: center;
    align-self: center;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(207, 194, 150);
    background-color: rgb(24, 22, 22);
    width: 200px;
    height: 30px;
    margin-top: 30px;
}

.fa-key{
    color: #fff;
    margin-top: 117px;
    margin-left: -301px;
}

.btn{
    grid-column: 1/5;
    grid-row: 3/5;
    justify-self: center;
    align-self: center;
    color: white;
    background-color: orange;
    border: 0;
    border-radius: 16px;
    width: 200px;
    height: 35px;
    margin-bottom: 91px;
    
}

.text-user{
    grid-column: 1/5;
    grid-row: 4/5;
    color: #fff;
    text-align: center;
}

.link-orang{
    color: orange;
}

